<%= form_for @friend, :html => { :class => "form-horizontal friend" } do |f| %>

  <% if @friend.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@friend.errors.count, "error") %> prohibited this friend from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @friend.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:city) %>
  </div>
  <div class="form-group">
    <%= f.label :profession, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :profession, :class => 'form-control' %>
    </div>
    <%=f.error_span(:profession) %>
  </div>
  <div class="form-group">
    <%= f.label :inspirations, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :inspirations, :class => 'form-control' %>
    </div>
    <%=f.error_span(:inspirations) %>
  </div>
  <div class="form-group">
    <%= f.label :likes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :likes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:likes) %>
  </div>
  <div class="form-group">
    <%= f.label :accomplishments, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :accomplishments, :class => 'form-control' %>
    </div>
    <%=f.error_span(:accomplishments) %>
  </div>
  <div class="form-group">
    <%= f.label :notes, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :notes, :class => 'form-control' %>
    </div>
    <%=f.error_span(:notes) %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:user_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                friends_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
