<h1><%= @friend.name %></h1>
<p><%= @friend.city %></p>
<p><%= @friend.profession %></p>
<p><%= @friend.inspirations %></p>
<p><%= @friend.likes %></p>
<p><%= @friend.accomplishments %></p>
<p><%= @friend.notes %></p>

<%= link_to 'Edit', edit_friend_path %>